<?xml version="1.0"?>

<launch>
	<!-- Load model with xacro -->
	<arg name="model" default="$(find wheelchair)/urdf/wheelchair.urdf.xacro" />
	<param command="xacro $(arg model)" name="robot_description"/>

	<!-- Publish the robot description -->
  	<node pkg="robot_state_publisher" type="robot_state_publisher" 
		name="robot_state_publisher" respawn="false" output="screen" />

	<!-- Spawn robot in gazebo -->
	<arg name="pos_x" default="0" />
	<arg name="pos_y" default="0" />
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description
                -urdf
				-x $(arg pos_x)
				-y $(arg pos_y)
				-z 0
                -model robot_description"
          respawn="false" output="screen" />

	<param name="use_gui" value="false"/>
</launch>
