<?xml version="1.0"?>

<launch>
	<!-- Launch Saved map -->
	<arg name="world_name" /> 
	<arg name="pos_x" default="0"/> 
	<arg name="pos_y" default="0"/> 
	<arg name="mapfile" default="$(find wheelchair)/map/$(arg world_name).yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg mapfile)" required="true">
		<param name="frame_id" value="map"/>
	</node>

	<!-- Launch Adaptive Monte-Carlo Localization node -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen" args="scan:=laser_scan">
		<param name="initial_pose_x" value="$(arg pos_x)"/>
		<param name="initial_pose_y" value="$(arg pos_y)"/>
  		<param name="laser_model_type" value="beam"/>
  		<param name="scan" value="laser_scan"/>
  		<param name="odom_frame_id" value="odom"/>
  		<param name="base_frame_id" value="base_link"/>
  		<param name="global_frame_id" value="map"/>
  		<param name="tf_broadcast" value="true"/>
 	</node>
</launch>
